// Template

////
/// Body
//
body {
	font-family: $font-primary;
	background-color: $white;
	color: $body-color;

	// Sizing box model
	* {
		box-sizing: border-box;
		outline: none;
	}

	// Anchors
	a {
		color: currentColor;
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}
	}

	// SVG
	svg {
		width: auto;
		height: 100%;
	}
}

////
/// Asset-overview
//
.asset-overview {
	display: flex;
	height: 100vh;

	// Asset menu
	.asset-menu {
		width: $sidebar-width;
		height: 100vh;
	}

	// Asset view
	.asset-view {
		width: calc(100vw - #{$sidebar-width});
		padding: $size-10 / 2 $size-10;
	}
}

