// Border radius
@mixin border-radius($radius) {
	@if $enable-rounded {
		border-radius: $radius;
	}
}

@mixin border-radius-top($radius) {
	@if $enable-rounded {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}
}

@mixin border-radius-right($radius) {
	@if $enable-rounded {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}

@mixin border-radius-bottom($radius) {
	@if $enable-rounded {
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}

@mixin border-radius-left($radius) {
	@if $enable-rounded {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}