////
/// Forms
//

// Form group
.ao-form-group {
    display: flex;
    align-items: center;
    margin-bottom: $size-10;
    white-space: nowrap;
        
    // Form group in dropdowns
    .dropdown & {
        margin-bottom: 0;
    }

    // Column orientation
    &.form-column {
        flex-direction: column;
        align-items: flex-start;
    }

    // Labels
    label {
        @extend %label;
    }

    // Form element
    .form-element {
        display: block;
        width: 100%;
        height: $form-element-size;
        border-radius: 5px;
        border: 2px solid $input-border;
        font-size: 14px;
        padding-left:8px;
        padding-right:8px;
        &::placeholder {
            color: $grey-200;
        }
    }

    // Textarea
    textarea {
        height: auto !important;
    }

    // Input groups
    .input-group {
        display: flex;
        width: 100%;
        .form-element {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .mat-icon-button {
            border-left-width: 0 !important;
            border-top-width: 1px !important;
            border-right-width: 1px !important;
            border-bottom-width: 1px !important;
            border-style: solid;
            border-color: $input-border;
        }
    }

    // Date range group
    .date-range-group {
        width: 100%;
        display: flex;
        .input-group {
            &:first-child {
                &::after {
                    content: '';
                    width: 7px;
                    height: 2px;
                    background-color: $grey-200;
                    margin-top: $form-element-size / 2;
                    margin-left: 10px;
                    // margin-right: 10px;
                }
            }
            &:last-child {
                &::before {
                    content: '';
                    width: 7px;
                    height: 2px;
                    background-color: $grey-200;
                    margin-top: $form-element-size / 2;
                    // margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

// Label
.ao-label {
    @extend %label;
}

// Inputs
input {
    width: 100%;
    border: 0;
    color: $grey-600;
}
%input-field {
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: $radius / 2;
}
input[type="text"],
input[type="password"] {
    @include transition(border);
    @extend %input-field;
    &:focus {
        border-color: $primary;
    }
}


// Select
.ao-form-select {
    width: 100%;
    position: relative;
    &::after {
        content: '\f107';
        font-family: $font-fa;
        position: absolute;
        right: $size-30 / 2;
        top: $form-element-size / 2;
        margin-top: -0.6em;
        font-size: 20px;
    }
}
select {
    // padding: 8px 15px;
    display: flex;
    align-items: center;
    padding-left: $size-30 / 3;
    border: 0;
    appearance: none;
    background-color: $grey-100;
}

// Checkbox
.ao-form-checkbox {
    @include checkbox($grey-200, '\f0c8', '\f14a', $magenta);
    input + label,
    & + label {
        margin-bottom: 0;
        &::before {
            @include transition(color);
        }
    }
    & + label {
        margin-left: 5px;
        cursor: pointer;
    }
}

// Badges
.ao-badge {
    position: absolute;
    display: flex;
    top: -7px;
    right: -9px;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: functional(red);
    font-size: 0.6em;
    color: $white;
}