////
/// Tables
//

// Table container
.ao-table-responsive {
    flex: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

// Table
.ao-table {
    width: 100%;

    // Thead
    thead,
    .thead {
        tr {
            th {
                vertical-align: bottom;
            }
        }
    }

    .thead {
        margin-top: $size-10;
    }

    // Tbody


    // All rows and columns
    tr {
        th,
        td {
            box-sizing: border-box;
        }
    }

    ////
    /// Table hover
    //
    &.table-hover {
        tbody {
            tr {
                @include hover {
                    cursor: pointer;
                }
            }
        }
    }
}