////
/// Tabs
//
.nav-tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    li {
        flex: 1;
        text-align: center;

        // Active tab
        &.active {
            a {
                background-color: $grey-100;
            }
        }
        a {
            @include transition(background-color);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $nav-tab-height;
            text-decoration: none;
            color: $grey-400;
            background-color: $white;
            @include hover {
                cursor: default;
            }
            span {
                display: block;
                font-size: 0.8em;
                .sidebar-closed & {
                    display: none;
                }
            }
            .icon {
                display: none;
                .sidebar-closed & {
                    display: block;
                }
            }

            // Filter
            &[aria-controls="asset-filter"] {
                &::after {
                    @extend %tab-triangle;
                    right: 0;
                    border-left: $nav-tab-height / 2 solid transparent;
                }
            }

            // Detalji
            &[aria-controls="asset-details"] {
                &::after {
                    @extend %tab-triangle;
                    left: 0;
                    border-right: $nav-tab-height / 2 solid transparent;
                }
            }
        }
    }
}

////
/// Tab pane
//
.tab-pane {
    display: none;
    &.active {
        display: block;
    }
}