// Form validation
.ao-validation-valid {
    border-color: functional(green) !important;
}
.ao-validation-invalid {
    border-color: functional(red) !important;
}

// Validation feedback
.ao-validation-feedback {
    font-size: 12px;
    &.validation-feedback-valid {
        color: functional(green);
    }
    &.validation-feedback-invalid {
        color: functional(red);
    }
}