// Modal
.modal-body {
    background-color: grey(100);
}

.modal-header {
    .modal-title,
    .modal-prices,
    .modal-actions {
        flex-basis: 33%;
    }

    .modal-title {
        font-weight: 400;
        color: theme-colors(primary);
    }
    .modal-prices {
        .pricing-with-vat {
            padding: $size-10 / 3 $size / 2;
            @include border-radius($radius / 2);
            background-color: theme-colors(primary);
            color: $white;
        }
        .pricing-no-vat {
            color: theme-colors(primary);
        }
    }
    .modal-actions {
        justify-content: flex-end;
        li {
            margin-left: $size / 2;
            margin-right: $size / 2;
            &.active {
                .icon {
                    color: theme-colors(primary);
                }
            }
        }
        .icon {
            font-size: $size-20;
            color: grey(300);
            @include transition(color);
            @include hover-focus {
                color: theme-colors(primary);
            }
        }
    }
}


.modal-footer {
    justify-content: space-between;
}